<h2 style="display: flex; justify-content: center;">User management</h2>
<div>
  <div class="create-user">
    <div *ngIf = "!createUserActive" class="create-user-title" (click)="activateCreateUser()">Create New User</div>
    <div *ngIf = "createUserActive" class="create-user-editor">

      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="center-block">Email:
            <input class="form-control" formControlName="email" [(ngModel)]="email">
          </label>
          <span *ngIf="angForm.controls['email'].invalid" class="alert alert-danger">
            <span *ngIf="angForm.controls['email'].errors.required">
              required.
            </span>
          </span>
        </div>
        <div class="form-group">
          <label class="center-block">First name:
            <input class="form-control" formControlName="firstName" [(ngModel)]="firstName">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Last name:
            <input class="form-control" formControlName="lastName" [(ngModel)]="lastName">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Role:
            <input class="form-control" formControlName="role" [(ngModel)]="role">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Password:
            <input class="form-control" formControlName="password" [(ngModel)]="password">
          </label>
        </div>

        <div class="form-group">
          <label for="file">Choose File</label>
          <input type="file"
                 id="file"
                 (change)="handleFileInput($event.target.files)">
        </div>

        <input type="button" value="Cancel" (click)="deactivateCreateUser()">
        <input type="button" [disabled]="angForm.invalid" value="Save" (click)="saveUser()">
      </form>
    </div>
  </div>

  <table mdbTable striped="true" class="user-list">
    <thead>
    <tr>
      <th></th><th>id</th><th>email</th><th>first name</th><th>last name</th><th>role</th><th></th>
    </tr>
    </thead>
    <tbody>
    <tr mdbTableCol *ngFor="let list of lists">
      <td><img src="http://localhost:8080/users/download-avatar/{{list.id}}" alt="avatar" class="avatar"/></td>
      <th scope="row">{{list.id}}</th>
      <td>{{list.email}}</td>
      <td>{{list.firstName}}</td>
      <td>{{list.lastName}}</td>
      <td>{{list.role}}</td>
      <td>
        <input type="button" value="Edit" (click)="activateUpdateUser(list)">
        <input type="button" value="Delete" (click)="deleteUser(list.id)">
      </td>
    </tr>
    </tbody>
  </table>
</div>
